:root {
  --primary-text-color: #434455;
  --titel-text-color: #2e2f42;
  --accent-color: #4d5ae5;
}
body {
  background-color: #ffffff;
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid tomato; */
}
.section {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 0px;
  margin-bottom: 120px;

  color: var(--titel-text-color);
}
.container .site-nav {
  display: flex;
  align-items: center;
}
.logo {
  color: var(--titel-text-color);
  font-family: Raleway, sans-serif;
  margin-right: 76px;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  display: flex;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.logo .accent {
  color: #4d5ae5;
}

.logo:is(:hover, :focus) {
  color: var(--accent-color);
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*page header*/
.page-head {
  background-color: #ffffff;
  border-bottom: 1px solid #e7e9fc;
}
/* site nav */
.site-nav.list {
  display: none;
}
.site-nav {
  display: flex;
  align-items: center;
  height: 70px;
}

.page-head .adress {
  display: none;
}

/* Herro*/

.hero-titel {
  text-align: center;
  margin: auto;
  background-color: var(--titel-text-color);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/Dark360.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 112px;
  padding-bottom: 112px;
}

.herro {
  max-width: 318px;
  margin-bottom: 72px;
  color: #ffffff;
  font-size: 36px;
  line-height: 1.111;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.menu-open {
  width: 32px;
  height: 32px;
  margin-right: 16px;
  margin-left: auto;
  background-color: #fff;
  border: none;
}

.item-menu {
  fill: var(--titel-text-color);
  width: 32px;
  height: 32px;
  margin-right: 16px;
  margin-left: auto;
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-titel {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark4802x.jpg);
  }
}
/* mob menu */
.mob-menu {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.mob-menu-list.list {
  display: inline;
}

.mob-menu-item {
  margin-right: auto;
  padding-left: 40px;
  margin-bottom: 40px;
  text-align: left;
  text-decoration: none;
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}
.mob-cont {
  margin-bottom: 40px;
}
.mob-menu-link {
  text-decoration: none;
  color: #2e2f42;
}
.mob-menu.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
}
.mob-menu-item.adr .mob-menu-link {
  color: #4d5ae5;
  text-decoration: none;
  font-style: normal;
}
.mob-menu-item.tel .mob-menu-link {
  color: #434455;
  text-decoration: none;
  font-style: normal;
}
.modal-close-mob {
  margin-top: 40px;
  margin-bottom: 16px;
  margin-right: 25px;
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}
.mob-icon.list {
  display: flex;
  margin-left: 40px;
}
.mob-icon.list .item {
  display: inline-block;
  content: "";
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  background-color: #5a4fcf;
  padding-top: 12px;
  padding-bottom: 12px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-icon.list .item-icon {
  width: 16px;
  height: 16px;
}

.mob-icon.list .list-item {
  margin-right: 56px;
}
.section-titel {
  display: none;
}

.features-list {
  padding-top: 96px;
  padding-bottom: 96px;
}

.features-item.list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.features-item.list .item {
  margin-bottom: 72px;
}

.features-item.list .item:nth-child(4n) {
  margin-bottom: 0;
}
.features-item .titel {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 8px;
  margin-left: auto;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #2E2F42  ;
}

.features-item .text {
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* List results*/

.result {
  display: none;
}

.list.list-results {
  display: flex;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 120px;
}
.list.list-results .item {
  margin-right: 24px;
}
.list.list-results .item:nth-child(n3) {
  margin-right: 0;
}

/* List worker */
.section-worker {
  color: var(--titel-text-color);
  padding-top: 96px;
  padding-bottom: 56px;
  background-color: #f4f4fd;
}

.section-worker .section-title {
  text-align: center;
  margin-bottom: 72px;
}

.list-worker.list .item-card {
  background-color: #fff;
  margin-bottom: 72px;
  width: 264px;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.description {
  padding-top: 32px;
  padding-bottom: 32px;
}

.list-worker .text {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.list-worker .name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.list-worker .list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.description .list {
  display: flex;
}
.description .list .item {
  display: inline-block;
  content: "";
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  background-color: #5a4fcf;
  padding-top: 12px;
  padding-bottom: 12px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.description .list .item-icon {
  width: 16px;
  height: 16px;
}
.description .list .item:is(:hover, :focus) {
  background-color: #404bbf;
}
/*customers*/

.customers {
  color: var(--titel-text-color);
  padding-top: 96px;
  padding-bottom: 96px;
}
.customers .titel {
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}
.customers .list {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

.customers .item {
  display: inline-block;
  content: "";
  width: 190px;
  height: 88px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4%;
  border: 1px solid #8e8f99;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-item {
  margin-bottom: 72px;
  width: 168px;
  height: 88px;
  margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.customers-item:nth-child(2n) {
  margin-right: 0px;
}
.customers .item .item-icon {
  width: 104px;
  height: 56px;
  margin-top: 16px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-item {
  fill: #999;
  margin-right: 24px;
}
.customers-item .item .item-icon {
  fill: #999;
}

.customers-item .item:is(:hover, :focus) {
  border-color: #404bbf;
}

.customers-item .item:is(:hover, :focus) .item-icon {
  fill: #404bbf;
}

/*foter*/
.footer-section .container {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  text-align: center;
  margin-left: auto;
    margin-right: auto; 
}
.logo-footer {
  width: 264px;
  text-align: center;
  padding-bottom: 16px;
  margin-bottom: 16px;
  color: #f4f4fd;
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}
.logo-footer .accent-footer {
  color: #4d5ae5;
}

.footer-section {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #2e2f42;
    margin-left: auto;
      margin-right: auto;
      text-align: center;
}

.footer-transcr {
  width: 264px;
  color: #e7e9fc;
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}

.footer-social {
  width: 208px;
  font-family: "Roboto";
  color: #e7e9fc;
  font-style: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-right: 80px;
  margin-bottom: 72px;
}
.footer-social .item {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.footer-social .list {
  display: flex;
}
.list {
  /* display: flex; */
  text-align: center;
}

.footer-social .list .item {
  display: inline-block;
  content: "";
  margin-right: 16px;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;

  background-image: linear-gradient(
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.1)
  );
  padding-top: 8px;
  padding-bottom: 8px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social .list .item:is(:hover, :focus) {
  background-color: #31d0aa;
}

.subscribe-form{
  display: flex;
    flex-wrap: wrap;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.footer-social .list .item-icon {
  width: 24px;
  height: 24px;
}

.subscribe-titel {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.subscribe-form {
  display: flex;
}

.footer-input {
  width: 264px;
  height: 40px;
  color: rgba(255, 255, 255, 0.6);
  background-color: #2e2f42;
  border-radius: 4px;
  outline: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin-right: 24px;
  padding-left: 16px;
}

.footer-button {
  display: flex;
  width: 165px;
  height: 40px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  border-radius: 4px;
  border-style: none;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 24px;
  padding-right: 24px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-telegram {
  fill: #fff;
  margin-top: 0;
  margin-left: 16px;
}

.footer-button:is(:hover, :focus) {
  background-color: #404bbf;
}

/*button*/
.button {
  border-width: 0;
  display: inline-block;
  color: #ffffff;
  background-color: var(--accent-color);
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button:is(:hover, :focus) {
  background-color: #404bbf;
}

/* button-portfolio */
.list.portfolio-nav {
  margin-bottom: 72px;
  display: flex;
  justify-content: center;
}
.button-portfolio {
  margin-right: 24px;
  color: #4d5ae5;
  background-color: #f4f4fd;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  padding: 12px 24px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-portfolio:is(:hover, :focus) {
  background-color: #4d5ae5;
  color: #f4f4fd;
}
/*portfolio*/
.name-portfolio {
  display: none;
}

.portfolio {
  padding-top: 96px;
  padding-bottom: 78px;
}
.list.portfolio-block {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 120px;
  display: flex;
  flex-wrap: wrap;
}
.descr-port {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
}

.list-portfolio {
  color: var(--titel-text-color);
  text-align: left;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
  margin-bottom: 8px;
}
.portfolio-text {
  color: var(--primary-text-color);
  text-align: left;
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.container .portfolio-none .item {
  text-decoration: none;
}

.portfolio-none {
  width: 360px;
  margin-right: 24px;
  margin-bottom: 48px;
  outline: 1px solid #e7e9fc;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-none:is(:hover, :focus) .portfolio-cover-text {
  transform: translateY(0%);
}

.portfolio-cover-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-cover-text {
  position: absolute;
  top: 0px;
  padding-top: 40px;
  padding-left: 32px;
  height: 100%;
  text-align: left;
  background-color: #4d5ae5;
  font-family: Roboto;
  font-style: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-none:is(:hover, :focus) {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.portfolio-none:nth-child(3n) {
  margin-right: 0px;
}

.portfolio-none:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.portfolio-thub {
  position: relative;
}

.portfolio .text {
  margin-bottom: 0;
  margin-top: 0;
}
.portfolio-action {
  outline: px solid tomato;
  position: absolute;
}
.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms linear, visibility 250ms linear;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 576px;
  background-color: #fcfcfc;
  border-radius: 4px;
  padding: 24px;
  transition: transform 250ms linear;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-close {
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-bottom: 24px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-titel {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  font-family: Roboto;
  font-weight: 500px;
  margin-bottom: 16px;
}

.modal-input {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #2e2f42;
  text-align: left;
  width: 100%;
  height: 38px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 38px;
  outline: transparent;
  transition-property: fill, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: #4d5ae5;
}

.modal-filed {
  margin-bottom: 10px;
}

.input-text {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.input-wrap {
  position: relative;
}
.input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .input-icon {
  fill: #4d5ae5;
}

.modal-msg {
  width: 100%;
  height: 138px;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #2e2f42;
  text-align: left;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 8px 16px 8px 16px;
  resize: none;
}

.check-text {
  display: flex;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #757575;
}

.check-text::before {
  content: "";
  width: 16px;
  height: 16px;
  border: 1.25px solid #2e2f42;
  border-radius: 2px;
  margin-right: 8px;
}

.input-check:checked + .check-text::before {
  background-color: #404bbf;
  border: none;
  background-image: url(../images/done.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.button-check {
  border-width: 0;
  display: block;
  margin: 0 auto;
  color: #ffffff;
  background-color: var(--accent-color);
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 428px) {

 

  .mob-menu.container{
    max-width: 100%;
  }

  .container {
    max-width: 428px;
  }

  .hero-titel {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark720.jpg);
  }

  .site-nav.list .item {
    margin-right: 40px;
  }

  .site-nav .link {
    display: block;
    color: var(--titel-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
    padding-top: 24px;
    padding-bottom: 24px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .site-nav .link:is(:hover, :focus) {
    color: var(--accent-color);
  }

  .site-nav .ilink.curent {
    color: var(--accent-color);
  }

  .site-nav .item.curent::after {
    display: block;
    content: "";
    width: auto;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
    margin-bottom: px;
  }

  .auth-nav {
    color: var(--primary-text-color);
    font-family: "Roboto";
    font-style: normal;
    font-size: 12px;
    line-height: 1.33;
    text-decoration: none;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .section-title {
    margin-top: 0px;
    margin-bottom: 72px;
    color: var(--titel-text-color);
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
  }

  .features-list .titel {
    color: var(--titel-text-color);
  }
  .auth-nav:is(:hover, :focus) {
    color: var(--accent-color);
  }
}

@media screen and (min-width: 768px) {

  .container{
    max-width: 768px;
  }
  .mob-menu.container{
    display: none;
  }
  .hero-titel {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    height: 600px;
    background-color: var(--titel-text-color);
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/peopleoffice.jpg);
  }

  .page-head .site-nav.list {
    display: flex;
  }
  .page-head .adress {
    display: inline;
  }
  .page-head .menu-open {
    display: none;
  }
  .herro {
    max-width: 494px;
    margin-bottom: 40px;
    color: #ffffff;
    font-size: 56px;
    line-height: 1.071;
    text-align: center;
  }
  .features-list .container {
    max-width: 768px;
    padding-right: 16px;
    padding-left: 16px;
  }
  .features-item.list .item {
    display: block;
    flex-wrap: wrap;
    width: 356px;
    margin-right: 24px;
  }
  .features-item.list .item:nth-child(2n) {
    margin-right: 0;
  }

  .features-item.list .item.item:nth-child(3n) {
    margin-bottom: 0;
  }

  .features-item.list .titel {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
  }

  .container {
    max-width: 582px;
  }

  .list-worker.list {
    display: flex;
    flex-wrap: wrap;
    width: auto;
  }

  .features-item.list .titel{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02;
    text-align: left;
  }
  .list-worker.list .item-card {
    margin-bottom: 64px;
    margin-right: 24px;
  }
  .list-worker.list .item-card:nth-child(2n) {
    margin-right: 0px;
  }

  .customers-item:nth-child(2n) {
    margin-right: 24px;
  }
  .customers-item:nth-child(3n) {
    margin-right: 0px;
  }
  .customers-item .item {
   width: 168px;
 }
 .hero-titel {
   padding-top: 187px;
   padding-bottom: auto;
   margin-top: auto;
   margin-bottom: auto;
   width: auto;
 }


 .footer-transcr {
   text-align: left;
   margin-right: 24px;
 }
 .footer-social{margin-right: auto;}
 .subscribe-titel{
  text-align: left;
 }
 .item.txt {
   text-align: left;
   font-weight: 500px;
   font-size: 16;
   line-height: 1.5;
 }
}
@media screen and (min-width: 1200px) {

  .hero-titel {
    padding-top: 187px;
    padding-bottom: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: auto;
  }
  .customers-item .item{
    width: 168px;
  }

  .footer-transcr {
    text-align: left ;
    margin-right: 100px;
  }

  .item.txt{
    text-align: left;
    font-weight: 500px;
    font-size: 16;
    line-height: 1.5;
  }

    .item .auth-nav{
      font-size: 16px;
      line-height: 1.5;
    }

    .list.adress{
      margin-right: 0;
    }
  .herro {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
    width: 494px;
  }
  .subscribe-titel{
    text-align: left;
  }

  .features-list .container {
    max-width: 1158px;
  }
  .page-head .site-nav.list {
    margin-right: auto;
    margin-left: auto;
  }
  .features-item.list .item {
    width: 263px;
    margin-right: 24px;
  }
  .features-item.list .item.item:nth-child(4n) {
    margin-right: 0px;
  }
  .features-item.list .item:nth-child(2n) {
    margin-right: 24px;
  }
  .result {
    display: block;
  }
  .container {
    max-width: 1158px;
  }

  .page-head .adress {
    display: flex;
  }
  .adress .item {
    margin-right: 40px;
  }

  adress .item:nth-last-child(2n) {
    margin-right: 0px;
  }
  .adress {
    display: flex;
    margin-left: auto;
  }
  .section-worker {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .list-worker.list .item-card {
    margin-bottom: 0px;
  }

  .list-worker.list .item-card:nth-child(2n) {
    margin-right: 24px;
  }
  .list-worker.list .item-card:nth-child(4n) {
    margin-right: 0px;
  }
  .customers-item:nth-child(3n) {
    margin-right: 24px;
  }
  .customers-item:nth-child(6n) {
    margin-right: 0px;
  }

    .features-list {
      padding-top: 96px;
      padding-bottom: 42px;
    }

  .features-item.list .item::before {
    display: block;
    content: "";
    height: 112px;
    background-color: #f4f4fd;
    background-repeat: no-repeat;
    background-position: center;
  }

  .features-item.list .item:nth-child(1):before {
    background-image: url(../images/antenna.svg);
    margin-bottom: 8px;
  }

  .features-item.list .item:nth-child(2):before {
    background-image: url(../images/clock.svg);
    margin-bottom: 8px;
  }

  .features-item.list .item:nth-child(3):before {
    background-image: url(../images/antenna.svg);
    margin-bottom: 8px;
  }

  .features-item.list .item:nth-child(4):before {
    background-image: url(../images/astronaut.svg);
    margin-bottom: 8px;
  }
  .customers .list .customers-item{
    margin-bottom: 0px;
  }
}
